<% @products.each do |product| %>
  <h3><%= product.name %>: <%= product.price %></h3>
  <div id="body-<%= product.id %>"><%= truncate product.description %></div>
  <button class="js-more" data-id="<%= product.id %>">More...</button>
  <% end %>
